<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Ionic Seed App</title>
    <link href="http://code.ionicframework.com/1.0.0-beta.14/css/ionic.css" rel="stylesheet">
    <link rel="stylesheet" href="ionic.contrib.drawer.css">
    <link rel="stylesheet" href="custom.css">
    <!-- angularjs scripts -->
    <script src="http://code.ionicframework.com/1.0.0-beta.14/js/ionic.bundle.js"></script>
    <script src="ionic.contrib.drawer.js"></script>

  </head>
  <body ng-app="app">
    <drawer side="left">
      <ion-content>
        <h2>Menu</h2>
        <ion-list>
          <ion-item>Friends</ion-item>
          <ion-item>Favorites</ion-item>
          <ion-item>Search</ion-item>
        </ion-list>
      </ion-content>
    </drawer>
    <ion-pane>
      <ion-content>
        <ion-header-bar class="bar-positive text-right">
          <button class="drawer-button" ng-show="!drawerIsOpen()" ng-click="openDrawer()" ng-class="{'drawer-open': drawerIsOpen()}">Open</button>
          <button class="drawer-button" ng-show="drawerIsOpen()" ng-click="closeDrawer()" ng-class="{'drawer-open': drawerIsOpen()}">Close</button>
        </ion-header-bar>
      </ion-content>
    </ion-pane>
    <script>
      angular.module('app', ['ionic.contrib.drawer', 'ionic']);
    </script>
  </body>
</html>
